<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="theme.css" />
  <title>Основы Vue</title>
  
</head>
<body>

<div class="container" id="app">
  <div class="card ">
    <h1>{{ title }}  </h1>
    <div class="form-control">
      <input 
      type="text" 
      :placeholder="placeholderString" 
      :value="inputValue"
      @input="inputChangeHandler"
      @keypress.enter="addNewNote"
    />

    </div>
    <button class="btn" @click="addNewNote">Добавить</button>

    <hr />

    <ul class="list" v-if="notes.length !== 0">
      <li class="list-item" v-for="(note, idx) of notes">
        ({{ idx + 1 }}) {{ toUpperCase(note) }} 
        <button class="btn danger" v-on:click="removeNote(idx)">Удалить</button>
      </li>
    </ul>
    <div v-else>Заметок пока нет. Добавьте первую. </div>
    <hr>
    <li>
      <strong>Общеее оличество заметок: {{ notes.length }}</strong>

      | Удвоенное количество: {{ doubleCountComputed }}
    </li>
    
    
  </div>
</div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>
</html>


<!-- 
    v-bind: - сокращение просто можно писать - :
    v-on: - сокращение меняем на -  @ 
    v-else
     
-->